:root {
  --color-primary: #07135c;
  --color-primary-variant-1: #3e7ad3;
  --color-primary-variant-2: #cedfff;
  --color-secondary: #00ac6a;
  --color-secondary-variant-1: #2dd091;
  --color-secondary-variant-2: #bde8d7;
  --color-blue: #008ae8;
  --color-blue-variant-1: #4fc7ff;
  --color-blue-variant-2: #c2ecff;
  --color-yellow: #fe9d3c;
  --color-yellow-variant-1: #fec630;
  --color-yellow-variant-2: #fadf83;
  --color-red: #bd0114;
  --color-red-variant-1: #de242b;
  --color-red-variant-2: #f69999;
  --color-neutral: #2f333b;
  --color-neutral-variant-1: #646e7f;
  --color-neutral-variant-2: #e0e3e9;
  --color-neutral-variant-3: #f5f6f8;
  --color-white: #ffffff;
  --color-on-primary: #cedfff;
  --color-on-primary-variant-1: #cedfff;
  --color-on-primary-variant-2: #07135c;
  --color-on-secondary: #f5f6f8;
  --color-on-secondary-variant-1: #07135c;
  --color-on-secondary-variant-2: #00ac6a;
  --color-on-blue: #f5f6f8;
  --color-on-blue-variant-1: #07135c;
  --color-on-blue-variant-2: #07135c;
  --color-on-yellow: #2f333b;
  --color-on-yellow-variant-1: #2f333b;
  --color-on-yellow-variant-2: #2f333b;
  --color-on-red: #f5f6f8;
  --color-on-red-variant-1: #f69999;
  --color-on-red-variant-2: #bd0114;
  --color-on-neutral: #f5f6f8;
  --color-on-neutral-variant-1: #f5f6f8;
  --color-on-neutral-variant-2: #2f333b;
  --color-on-neutral-variant-3: #2f333b;
  --color-on-white: #2f333b;
  --color-on-white-muted: #646e7f;
  --color-on-white-light: #e0e3e9;
  --color-on-white-primary: #07135c;
  --color-on-white-link: #008ae8;

  --font-size-h1: 32px;
  --font-height-h1: 38.4px;
  --font-size-h2: 24px;
  --font-height-h2: 24px;
  --font-size-subtitle: 24px;
  --font-height-subtitle: 28.8px;
  --font-size-body: 16px;
  --font-height-body: 19.2px;
  --font-size-bold: 16px;
  --font-height-bold: 19.2px;
  --font-size-small: 14px;
  --font-height-small: 16.8px;
  --font-size-pre: 14px;
  --font-height-pre: 16.8px;
  --font-size-button: 14px;
  --font-height-button: 16px;
  --font-size-link: 16px;
  --font-height-link: 19.2px;

  --space-xsmall: 8px;
  --space-small: 16px;
  --space-medium: 24px;
  --space-large: 32px;
  --space-xlarge: 40px;
}
